<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--CSS-->
    <link rel="stylesheet" href="/public/css/normalizer.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <!--Script-->
    <script src="https://kit.fontawesome.com/143040bb16.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!--Esto es el Nav-->
        <nav id="nav">
            <section id="nav-top">
                <img src="/public/imagenes/logo-mercado-liebre.svg">

                <form id="busqueda">
                    <input type="search" name="busqueda" placeholder="Busqueda">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>

                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas sin interes</p>
            </section>
            <div id="barra-nav">
                <ul id="nav1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul id="nav1">
                    <li><a href="#"> Créa tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="#"> Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="#"> Mis compras <i class="fa-solid fa-basket-shopping"></i> </a></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <!--MAIN-->
    <main>
        <section class="banner">
            <img src="/public/imagenes/img-home-banner.jpg">
        </section>
        <section>
            <h2 class="title">Basado en tu última vista</h2>
            <div class="articulos">
                <!--Card 1-->
                <article class="card">
                    <img class="icon" src="/public/imagenes/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div id="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="card-precio">$6770</h3>
                        <h3 class="card-descuento">40% OFF</h3>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <!--Card 2-->
                <article class="card">
                    <img src="/public/imagenes/img-macbook-pro-2019.jpg" alt="cafetera">
                    <div id="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="card-precio">$6770</h3>
                        <h3 class="card-descuento">40% OFF</h3>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <!--Card 3-->
                <article class="card">
                    <img src="/public/imagenes/img-samsung-galaxy-s10.jpg" alt="cafetera">
                    <div id="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="card-precio">$6770</h3>
                        <h3 class="card-descuento">40% OFF</h3>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <!--Card 4-->
                <article class="card">
                    <img src="/public/imagenes/img-tv-samsung-smart.jpg" alt="cafetera">
                    <div id="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="card-precio">$6770</h3>
                        <h3 class="card-descuento">40% OFF</h3>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
        </section>

        <section>
            <h2 class="title">Ofertas del dia</h2>
            <div class="articulos">
                <!--Card 1-->
                <article class="card">
                    <img src="/public/imagenes/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div id="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="card-precio">$6770</h3>
                        <h3 class="card-descuento">40% OFF</h3>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <!--Card 2-->
                <article class="card">
                    <img src="/public/imagenes/img-macbook-pro-2019.jpg" alt="cafetera">
                    <div id="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="card-precio">$6770</h3>
                        <h3 class="card-descuento">40% OFF</h3>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <!--Card 3-->
                <article class="card">
                    <img src="/public/imagenes/img-samsung-galaxy-s10.jpg" alt="cafetera">
                    <div id="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="card-precio">$6770</h3>
                        <h3 class="card-descuento">40% OFF</h3>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
                <!--Card 4-->
                <article class="card">
                    <img src="/public/imagenes/img-tv-samsung-smart.jpg" alt="cafetera">
                    <div id="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <h3 class="card-precio">$6770</h3>
                        <h3 class="card-descuento">40% OFF</h3>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
        </section>
    </main>
    <!--Footer-->
    <footer>
        <section class="">
            <div class="">
                <i class="fa-solid fa-credit-card icon"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="card-desc">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="">
                <i class="fa-solid fa-gift icon"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="card-desc">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="">
                <i class="fa-solid fa-user-shield icon"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p class="">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>
        <h3 class="">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>

</body>

</html>